# Compiled Java & Maven
**/target/
**/.flattened-pom.xml
*.class

# Node / Frontend dependencies & builds
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Logs
*.log
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS Metadata
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Persistent Local Database & Uploads
data/
**/data/
*.mv.db
*.trace.db
uploads/
**/uploads/
